POSTGRES_USER="geedadmin"
POSTGRES_PASSWORD="My84fdHet"
POSTGRES_DB="greed"
POSTGRES_PORT=5432
DATABASE_URL="postgresql://geedadmin:My84fdHet@localhost:5432/greed"
LOG_LEVEL=DEBUG
JWT_SECRET="mysecret"
JWT_EXPIRATION="60"
JWT_CHECK="15"
REFRESH_TOKEN_EXPIRATION="120"
ANVIL_PK_1="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
MANAGER_CONTRACT_ADDRESS="0x9464E5b52997C34802bA00661090Bc2C53f878Df"
AGENCY_CONTRACT_ADDRESS="0xBE73efA59cfc59E03003e97062F7C507D5996e39"
RPC_URL=****
